* {
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    background-color: #e1e1e1;
}
.spinner {
    display: block;
    width: 100px;
    height: 100px;
    border: 20px solid cadetblue;
    border-radius: 50%;
    border-top-color: transparent;
    animation: spinning 1s linear infinite;
}
button .spinner {
    width: 15px;
    height: 15px;
    border: 3px solid cadetblue;
    border-top-color: transparent;
}
@keyframes spinning {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.multicolumn {
    display: flex;
}
nav {
    width: 20%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
nav > * {
    margin-bottom: 10px;
}
main {
    width: 80%;
    padding: 10px;
}
.users {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
}
.user {
    width: calc(100% / 3);
    text-align: center;
    padding: 10px;
    background-color: #fff;
    border: 10px solid #e1e1e1;
}
.user-name {
    font-weight: bold;
}
.error {
    padding: 10px;
    background-color: rgb(228, 82, 82);
}
.info {
    padding: 10px;
    background-color: rgb(82, 162, 228);
}

form {
    background-color: #fff;
    padding: 10px;
}
form .form-row {
    padding: 5px;
}
form label {
    display: inline-block;
    width: 100px;
}