<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <header>Header</header>
    <main>
        <aside>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt perspiciatis ducimus voluptatum deleniti, nemo delectus soluta voluptates aut vel dolorum?</aside>
        <section>Section</section>
    </main>
    <footer>Footer</footer>
</body>
</html>