.hero {
    background-image: url('../img/heros/hero-tips.jpg');
    background-position-y: 50px;

}

.overlay {
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}

.section-icons h3 {
    color: #8a9c82;
}

.habits {
    flex-direction: row-reverse;
}

.applications-container {
    background: rgb(247, 248, 249);
}

.applications-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
    padding-top: 50px;
}

.application-card {
    background-color: #ffffff;
    border-radius: 16px;
    padding: 1.5rem;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.application-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.app-icon img {
    width: 81px;
    height: 80px;
    border-radius: 20%;
    object-fit: cover;
    margin-bottom: 1rem;
}

.application-card h3 {
    margin-bottom: 0.5rem;
}

@media (max-width: 575px) {
    .hero {
        background-position: center;
        background-position-y: 40px !important;
    }

    .applications-cards {
        grid-template-columns: 1fr;
    }
}


@media print {
    .application-card img {
        display: none;
    }

    .application-card {
        border: none;
        box-shadow: none;
    }

    .applications-cards {
        padding: 0;
    }
}