main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

main h2 {
    font-size: 1.8rem;
    border-bottom: 1px solid var(--border-color-black);
    padding-bottom: 0.5rem;
}

main p:not(p:last-of-type) {
    margin-bottom: 1rem;
}

.section-2 > div {
    display: flex;
}

@media (max-width: 1200px) {
    .section-2 > div {
        flex-direction: column;
        gap: 1rem;
    }

    main h2 {
        font-size: 1.6rem;
    }
}

@media (max-width: 800px) {
    main {
        padding: 0.8rem;
        gap: 0.6rem;
    }

    main h2 {
        font-size: 1.4rem;
    }

    .section-2 > div {
        gap: 0.6rem;
    }

    main p {
        font-size: 0.95rem;
    }
}
