body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa; 
    font-family: Arial, sans-serif;
}

main {
    max-width: 1140px;
    margin: 0 auto;
    padding: 20px 20px 40px 20px;
}

.map-wrap {
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0px 8px 22px rgba(0, 0, 0, 0.1);
}

#map {
    width: 100%;
    height: 650px;
    z-index: 1; 
}

.card {
    border-radius: 15px;
    border: none;
}

#search-loader {
    margin: 20px 0;
}

#search-results {
    max-height: 400px;
    overflow-y: auto;
}

.leaflet-popup-content-wrapper {
    border-radius: 10px;
}

.leaflet-popup-content {
    font-size: 14px;
    margin: 12px;
}