body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

main {
    max-width: 1140px;
    margin: 0 auto;
    padding: 20px 20px 40px 20px;
}

#section-map {
    height: 600px;
    position: relative;
}

#map {
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 16px;
    border: 1px solid #dee2e6;
    box-shadow: 0px 8px 22px rgba(0, 0, 0, 0.1);
}

#search-container {
    position: absolute;
    top: 20px;
    left: 60px;
    z-index: 1000;
    width: 300px;
}

#search-results {
    max-height: 400px;
    overflow-y: auto;
}

.search-result-subtext {
    font-size: 0.8rem;
}

.pointer-events-none {
    pointer-events: none;
}



.card {
    border-radius: 15px;
    border: none;
}

.leaflet-popup-content-wrapper {
    border-radius: 10px;
}

.leaflet-popup-content {
    font-size: 14px;
    margin: 12px;
}

.btn-toggle-accordion {
    cursor: pointer;
}

#map-spinner {
    z-index: 2000;
}

#map-spinner .spinner-border {
    width: 3rem;
    height: 3rem;
}

.btn-locate-pin {
    cursor: pointer;
    transition: color 0.2s;
}

.btn-locate-pin:hover {
    color: #0d6efd !important;
}