body {
    font-family: sans-serif;
    margin: 0;
    color: #434343;
    background-color: #e1e1e1;
}

.page-header {
    background-image: url(https://wallpapers.com/images/hd/every-legendary-pokemon-dhu4bu0wdmjcofda.jpg);
    background-position: center;
    background-size: cover;
}

.page-header h1 {
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    margin: 0;
    padding: 50px 0;
}

.page-navigation {
    background-color: cadetblue;
    text-align: center;
}
.page-navigation a {
    padding: 20px;
    display: inline-block;
    color: white;
    text-decoration: none;
}
.page-content {
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    padding: 30px;
}
.main-heading {
    text-align: center;
}
article h3 {
    color: cadetblue;
    font-size: 28px;
}
article p {
    text-align: justify;
    line-height: 28px;
}
article img {
    float: left;
    width: 150px;
    margin: 20px;
}

aside, footer {
    padding: 20px 0;
    text-align: center;
    color: white;
}
aside {
    background-color: rgb(72, 127, 159);
}
footer {
    background-color: cadetblue;
}