body {
    display: flex;
    font-family: 'Arial';
    font-weight: bold;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.board {
    margin: auto 0;
}

.flex-row {
    display: flex;
}

.card {
    display: flex;
    width: 70px;
    height: 70px;
    border-radius: 15px;
    background-color: cadetblue;
    text-align: center;
    justify-content: center;
    padding: 20px 20px;
    margin: 20px 20px;
    color: white;
    user-select: none;
}

.card-hidden {
    color: cadetblue;
}

.guessed {
    background-color: green;
    color: white;
}