body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    background-color: #f2f2f2;
}

#game-field {
    display: grid;
    grid-template-columns: repeat(5, 120px);
    grid-gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

.card {
    background-color: #2196f3;
    color: transparent;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in 0.1s;
    user-select: none;
}
.card:hover{
    background-color: #083c67;
}

.card.flipped {
    background-color: #cbcbcb;
    color: rgb(21, 21, 21);
    cursor: default;
}

.card.matched {
    background-color: #4caf50;
    color: white;
    cursor: default;
}