* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

h1,
h2 {
    margin: 10px 0;
}

#game-field {
    width: 80%;
    margin: 0 auto;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
    padding: 15px;
}

.card {
    background-color: rgb(129, 0, 0);
    color: transparent;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.3s;
}

.card:hover {
    background-color: rgb(131, 58, 58);
}

.card.revealed {
    background-color: rgb(245, 131, 131);
    color: black;
}