h1 {
    background-image: url("../../img/aktivity-head-min.JPG");
}

.activity-section {
    max-width: 1000px;
    margin: 50px auto;
    padding: 40px;
    background-color: #f4efe8;
    border-radius: 12px;
}

.activity-section h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
    color: #333;
}

.activity-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    margin-top: 30px;
}

.activity {
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

.activity:hover {
    transform: translateY(-5px);
}

.activity img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.activity h3 {
    margin: 15px;
    font-size: 22px;
    color: #333;
}

.activity p {
    margin: 0 15px 15px 15px;
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
}

@media (max-width: 1024px) {
    .activity-section {
        margin: 20px auto;
    }
    .activity-section h2 {
        font-size: 22px;
    }

    .activity-grid {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }

    .activity img {
        height: 150px;
    }

    .activity h3 {
        font-size: 18px;
    }

    .activity p {
        font-size: 14px;
        text-align: left;
    }

}

@media print {
    .activity-section h2 {
        font-size: 16px;
        margin: 0;
        padding: 0;
    }

    .activity {
        box-shadow: none;
        border-radius: 0;
        margin: 0;
        padding: 0;
    }

    .activity img {
        display: none;
    }

    .activity h3 {
        font-size: 14px;
    }

    .activity p {
        font-size: 12px;
        margin: 0;
        padding: 0;
    }
}