h1 {
    background-image: url("../../img/domu-head-min.jpg");
}

.packages {
    max-width: 1000px;
    margin: 50px auto;
    padding: 40px;
    background-color: #f4efe8;
    border-radius: 12px;
}

.packages-header {
    text-align: center;
    margin-bottom: 30px;
}

.packages-grid {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    align-items: stretch;
}

.package {
    background: #fff;
    border-radius: 12px;
    padding-bottom: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s ease;
}

.package a.btn {
    display: flex;
    justify-content: center;
    margin: 20px auto 0 auto;
    width: fit-content;
}

.package:hover {
    transform: translateY(-5px);
}

.package img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.package h3 {
    margin: 15px;
    text-align: center;
}

.package p {
    margin: 0 20px 20px 20px;
    font-size: 16px;
    line-height: 1.5;
}

.btn {
    background: #c1ae92;
    color: #fff;
    padding: 10px 20px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s;
}

.btn:hover {
    background: #a99579;
}

.main-content {
    max-width: 1000px;
    margin: 50px auto;
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    background-color: #f4efe8;
    border-radius: 12px;
}

.content-box {
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    text-align: center;
    text-decoration: none;
    color: #333;
    transition: transform 0.2s ease;
}

.content-box:hover {
    transform: translateY(-5px);
    background-color: #fff;
}

.content-box h2 {
    margin-bottom: 15px;
    color: #333;
}

.content-box p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
}

#button {
    background-color: #c1ae92;
    border: none;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 26px;
    margin: 20px 0;
    border-radius: 12px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
}

#button:hover {
    background-color: #a89072;
}

@media screen and (max-width: 1024px) {
    .packages-header h2, .main-content h2 {
        font-size: 22px;
    }
    
    .main-content p, .packages p {
        font-size: 16px;
    }

    .packages {
        margin: 20px auto;
    }

    .package h3 {
        font-size: 20px;
    }

    .main-content {
        margin: 20px auto;
        padding: 20px;
        gap: 10px;
    }
    
    .content-box {
        width: 100%;
        box-sizing: border-box;
    }

    .content-box h2 {
        text-decoration: underline;
    }

    #button {
        font-size: 20px;
        padding: 12px 24px;
    }
}

@media print {
    h2,h3 {
        color: #000000;
    }

    .packages,
    .main-content,
    .content-box,
    .package {
        background: none;
        box-shadow: none;
        border-radius: 0;
        padding: 0;
        margin-bottom: 20px;
        width: 100%;
        max-width: 100%;
    }

    .package, .content-box {
        margin-bottom: 0px;
    }

    #button {
        display: none;
    }

    img, .package img {
        display: none;
    }

    .btn, .package a.btn {
        display: none;
    }

}