h1 {
    background-image: url("../../img/kontakt-head-min.JPG");
}

.contact-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1000px;
    margin: 50px auto;
    padding: 40px;
    background-color: #f4efe8;
    border-radius: 12px;
    gap: 40px;
}

.contact-info,
.contact-form {
    flex: 1 1 400px;
}

.contact-info h2,
.contact-form h2 {
    margin-top: 0;
    font-size: 28px;
    color: #333;
}

.contact-info p,
.contact-info a {
    font-size: 16px;
    text-align: left;
    line-height: 1.5;
    color: #000;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form input,
.contact-form textarea {
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

.contact-form button {
    background-color: #c1ae92;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #a99579;
}

.map-section {
    max-width: 1000px;
    margin: 50px auto;
    padding: 40px;
    border-radius: 12px;
    background-color: #f4efe8;
}

.map-section h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
}

.map {
    border: 0;
    border-radius: 12px;
    width: 100%;
    height: 400px;
}

@media screen and (max-width: 1024px) {
    .contact-section {
        flex-direction: column;
        padding: 20px;
        gap: 20px;
    }

    .contact-section, .map-section {
        margin: 20px auto;
    }

    .contact-info h2,
    .contact-form h2, .map-section h2 {
        font-size: 22px;
    }

    .contact-info p,
    .contact-info a {
        font-size: 14px;
    }

}

@media print {

    .contact-section,
    .map-section {
        box-shadow: none;
        border-radius: 0;
        background: none;
        padding: 0;
        margin: 0;
    }

    .contact-info p,
    .contact-info a {
        font-size: 14px;
    }

    .contact-info h2 {
        font-size: 16px;
        margin: 0;
        padding: 0;
    }

    .map-section h2 {
        font-size: 16px;
        margin: 0;
        padding: 0;
    }

    .contact-form {
        display: none;
    }

    .map-section {
        width: 100%;
    }

    .map {
        height: 300px;
        width: 80%;
        display: block;
        margin: auto;
    }


}