body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(245, 255, 255);
}

#app {
    width: 400px;
    padding: 20px;
    background: rgb(209, 238, 248);
    border-radius: 10px;
}

h1 {
    text-align: center;
}

input, button, #output {
  padding: 8px;
  font-size: 1em;
  border-radius: 10px;
  background-color: rgb(253, 253, 239);
}

input {
    display: block;
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
}

button {
    display: block;
    margin: 10px auto;
}

#output {
    font-weight: bold;
}