body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.card {
    width: 200px;
    height: 150px;
    background-color: rgb(15, 2, 49);
    color: transparent;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: large;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease;
}
.card.revealed {
    color: white;
    background-color: rgb(41, 25, 91);
}

#game-field {
    display: grid;
    grid-template-columns: repeat(5, 200px);
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}