#searchBtn {
    font-size: 11px;
    padding: 6px 12px;
}
.menu-button {
    border: 2px solid black;
    padding: 15px 30px;
    background-color: white;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: black;
    position: absolute;
    top: 10px;
    right: 10px;
}