@import "./main.css";

.hero {
  background: url("../images/pictures/hero-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 600px;
  padding: 2rem;

  display: grid;
  place-items: center;

  border-radius: var(--rounded-xl);
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
  /* TODO: set max width */
  gap: 1.5rem;
  color: var(--text-light);
}

.hero-contents {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.hero h1 {
  color: var(--text-light);
}

.hero .btn-row {
  display: flex;
  gap: 1rem;
}

@media screen and (max-width: 600px) {
  .carousel {
    padding: 0;
  }

  .hero .btn-row {
    flex-direction: column;
  }
  .btn {
    width: 100%;
  }
}
