* {
    box-sizing: border-box;
    user-select: none;
    font-family: 'Open Sans', sans-serif;
}
body {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#game-field {
    margin-top: 15px;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1.5rem;
}
.card {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 80px;
    border-radius: 10px;
    font-weight: bold;
    background-color: #66f5d4;
    color: transparent;
    transition: 0.3s ease-in-out;
}
.card:hover {
    background-color: #44a992;
    cursor: pointer;
}
.card.revealed {
    background-color: #7bed73;
    color: black;
}
.card.matched {
    pointer-events: none;
}

