.cover {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover img {
    width: 100%;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;


}