body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
}

#search {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    gap: 10px;
}

#search input {
    padding: 8px;
    width: 250px;
    font-size: 16px;
}

#search button {
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
}

#user-profile, #repos {
    margin-top: 25px;
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: left; 
    }

#user-profile img {
    display: block;
    margin: 10px auto;
}