body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #f0f0f0;
  margin: 0;
  padding: 20px;
}

#game-field {
  display: grid;
  grid-template-columns: repeat(5, 120px);
  grid-template-rows: repeat(4, 120px);
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.card {
  background-color: blue;
  color: transparent;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s, color 0.3s;
}

.card.flipped {
  background-color: white;
  color: black;
  border: 2px solid lightseagreen
}

.card.matched {
  background-color: greenyellow;
  color: black;
  cursor: default;
}