body {
    font-family: Arial, Helvetica, sans-serif;
    background: darkolivegreen;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}
h1 {
    color: yellow;
    margin-bottom: 20px;
}
textarea, input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    border: none;
    font-size: 10;
}
button {
    background-color: yellow;
    color: black;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}
button:hover {
    background-color: darkgoldenrod;
}
