body {
    font-family: sans-serif;
}

/* CSS rule */
#heading-1 { /* CSS selector */
    font-size: 80px; /* CSS properties: CSS values */
    color: red; /* CSS properties: CSS values */
}

.page-heading {
    background-color: brown;
}