body {
  font-family: sans-serif;
  margin: 0;
}

#dark-mode-btn {
  padding: 0.5em;
  font-weight: 800;
}

#dark-mode-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.dark-mode-toggle {
  background: #000;
  color: #fff;
}

#theme {
  width: 100vw;
  height: 100vh;
}

.dark-mode-theme {
  background: #000;
  color: #fff;
}