/* BASE CSS */
* {
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 5%;
}

.search-box {
    display: flex;
    flex-direction: column;
    gap: 5px;

    background: darkgrey;

    padding: 20px 5%;
}

.search-input {
    width: 100%;
    height: 30px;
}

.search-button {
    background: indianred;
    border: none;

    font-weight: bold;
    color: white;

    height: 30px;
    width: 100%;
}

.search-button:hover {
    background: #7a3838;
}
/* OUTPUT CSS */
.user-container {
    display: flex;
    flex-direction: column;



    width: 100%;
}

.username, .repo-heading {
    text-align: center;
    color: white;
    font-weight: bold;

    background-color: cadetblue;

    margin: 10px 0;
}

.username {
    font-size: 24px;
    padding: 20px;
}

.user-profile {
    display: flex;
    flex-direction: row;
    gap: 10px;

    background-color: darkgrey;

    padding: 10px;
}

.profile-card {
    display: flex;
    flex-direction: column;
    gap: 10px;

    width: 50%;
}

.profile-card a {
    color: white;
    text-align: center;
    background-color: cadetblue;
    text-decoration: none;

    font-size: 18px;
    font-weight: bold;

    padding: 20px 0;
    width: 100%;
}

.profile-card a:hover {
    background-color: #406d6e;
}

.profile-info {
    display: flex;
    flex-direction: column;
    gap: 10px;

    width: 50%;
}

.profile-info div {
    display: flex;
    justify-content: left;
    align-items: center;

    background-color: lightgrey;

    padding: 15px;
    height: 20%;
}

.repos-container {
    display: flex;
    flex-direction: column;
    gap: 10px;

    margin: 20px 0;
}

.repo-heading {
    font-size: 20px;
    padding: 15px;
}

.repo-box {
    display: flex;
    flex-direction: row;
    gap: 20px;

    background-color: lightgrey;

    padding: 10px 20px;
}

.repo-name {
    width: 40%;
}

.no-repo-box {
    text-align: center;
    width: 100%;
}