/* ==== footer ==== */
footer {
    width: 100%;
    margin-top: 140px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-menu {
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 30px;
    gap: 50px;

    justify-content: space-between;
    align-items: flex-start;
}

.footer-bottom-bar {
    background-color: var(--text);
    color: white;

    margin-top: 140px;
    width: 100%;
    height: 60px;

    display: flex;
    justify-content: center;
}

.footer-bottom-content {
    width: 100%;

    gap: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 1000px) {
    .footer-bottom-content {
        flex-direction: column;

    }

    .footer-bottom-bar {
        margin-top: 60px;
        height: 100%;
        padding: 20px 0;
    }
}

@media screen and (max-width: 800px) {
    .footer-menu {
        flex-direction: column;
        align-items: center;
    }
}

.company-name {
    text-wrap: nowrap;
}

.opening-hours {
    display: flex;
    gap: 20px;

    min-width: 220px;
}

.footer-menu-box {
    gap: 30px;

    min-width: 275px;

    display: flex;
    flex-direction: column;
}

.footer-menu-box-title {
    font-size: 25px;
    color: var(--text);
}

.footer-menu-box-list {
    gap: 16px;

    display: flex;
    flex-direction: column;
}

.footer-menu-box-list li a {
    font-size: 16px;
    font-weight: 600;
    font-optical-sizing: auto;

    letter-spacing: 0.05em;
}

.footer-menu-box-list li a:hover {
    text-decoration: underline;
}

.footer-menu-box-list li p {
    color: var(--text);

    font-weight: 400;
    font-size: 16px;

    letter-spacing: 0.05em;
    margin: 20px 0;
}
