:root {
    --light-grey: #B9B6B6;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    display: flex;
    justify-content: start;
    align-items: center;

    background: var(--light-grey);

    width: 100%;
    height: 100px;
    padding-left: 20px;
}

.app-header {
    color: white;
    font-family: "Kdam Thmor Pro";
    font-size: 36px;
}

main {
    display: flex;
    flex-direction: row;
}

.pc-container, .comparator-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.pc-container {
    width: 30%;
    padding: 30px 15px 30px 30px;
}

.comparator-container {
    width: 70%;
    padding: 30px 30px 30px 15px;
}

.pc-container-search, .pc-container-window, .pc-container-controls,
.comparator-container-window, .comparator-container-controls {
    border: solid black 2px;
    border-radius: 15px;
}

.pc-container-search {
    height: 50px;
}

.pc-container-window {
    height: 620px;
}

.pc-container-controls, .comparator-container-controls {
    height: 80px;
}

.comparator-container-window {
    height: 690px;
}

@media screen and (min-width: 1080px) {
    .pc-container {
        width: 20%;
    }

    .comparator-container {
        width: 80%;
    }
}
