* {
    box-sizing: border-box;
}
html, body, #app {
    height: 100%;
}
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}
hr {
    border-style: solid;
    border-color: #eee;
}
@keyframes spin {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg);
    }
}
.loader {
    border: 5px solid darkorange;
    border-top: 5px solid #ccc;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: auto;
}
#app {
    display: flex;
    flex-direction: column;
}
main {
    flex: 1;
}
footer {
    color: white;
    background-color: darkorange;
    padding: 20px 0;
}
ul {
    list-style-type: none;
}
