.hero {
    background-image: url('../img/heros/hero-nature.jpg');
    background-position: center;
}

.section-image img, .slider img {
    border-radius: 1rem;
}

.rivers {
    flex-direction: row-reverse;
}

.nature-slider-container {
    background: rgba(204, 204, 204, 0.23);
}

.slider {
    padding-top: 50px;
    display: flex;
    overflow-x: auto;
    gap: 1.5rem;
    padding-bottom: 1rem;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.slider > div {
    flex-shrink: 0;
    width: 30rem;
    cursor: pointer;
    text-align: center;
    color: transparent;
    transition: all 0.3s ease-in-out;
}

.slider img {
    height: 100%;
    object-fit: cover;
}

.nature-slider button {
    background-color: rgb(255 255 255 / 0.8);
    justify-content: center;
    display: flex;
    align-items: center;
    transition-duration: 300ms;
    width: 4rem;
    height: 4rem;
    color: black;
    top: 50%;
    position: absolute;
    content: " ";
    z-index: 10;
    border-radius: 999px;
    border:none;
}

.nature-slider button:hover {
    background-color: rgba(149, 148, 148, 0.94);
}

.rotate-icon {
    rotate: 180deg;
}

.right {
    right: 1rem;
}

.left {
    left: 1rem;
}

.image-container h3 {
    position: relative;
    top: -50%;
    z-index: 2;
}


@media (max-width: 768px) {
    .nature-slider-container {
        text-align: center;
    }

    .nature-slider {
        gap: 1rem;
    }

    .slider {
        overflow-x: hidden;
        padding: 0;
    }

    .slider > div {
        width: 100%;
        flex-shrink: 0;
    }

    .nature-slider button {
        width: 3rem;
        height: 3rem;
    }


}


@media (max-width: 1280px) {

}

@media print {
    .nature-slider-container {
        display: none;
    }
}


