header {
    width: 100%;
    display: flex;
}

a:link {
    color: rgb(135, 157, 232);
    text-decoration: underline;
}

a:visited {
    color: rgb(135, 157, 232);
    text-decoration: none;
}

body {
    font-family: "Stack Sans Headline", sans-serif;
    margin: 0;
    line-height: 1.8;
    width: 100%;
    letter-spacing: 1px;
    height: calc(100dvh);
}

.event {
    display: flex;
    width: calc(100%/3 - 30px);
    justify-content: center;
    color: white;
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px;
}



.event img {
    object-fit: contain;
    object-position: center;
    width: calc(100vw /3);
}

.event h2 {
    font-size: xx-large;
    background-color: rgba(0, 0, 0, 0.7);
    height: 60px;
    padding: 15px;
    width: max-content;
    text-align: center;
    border-radius: 50px;
}

.logo {
    background-image: url('../img/logo-no-bg.png');
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
}

.logo a {
    color: transparent;
    text-decoration: none;
    font-size: 70px;
}

.navigation-stripe {
    display: flex;
    justify-content: space-between;
    align-content: center;
    font-weight: bold;
    width: auto;
}

.bottom {
    margin-top: 50px;
}

.navigation-stripe div {
    justify-content: center;
    align-content: center;
}

.navigation-stripe a {
    font-size: 18px;
    margin-left: 3vw;
    text-decoration: none;
    color: black;
}

.navigation-stripe .active {
    color: rgb(135, 157, 232);
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(135, 157, 232);
}

.arrow-box {
    color: rgb(135, 157, 232);
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 40px;
    animation: bounce 4s infinite;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}

.navigation-stripe a:hover {
    color: rgba(0, 0, 0, 0.6)
}

.main {
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 15vh;
    padding-right: 15vh;
    padding-bottom: 50px;
}

.events-main {
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 50px;
    width: 100%
}

.events-main h1 {
    padding-bottom: 50px;
    margin: 0;
}

.main h1 {
    padding-bottom: 50px;
    margin: 0;

}

footer .col-3 {
    background-color: #001f3f;
}

footer {
    background-color: #001f3f;
    color: white;
}

.col-3 {
    width: calc((100% / 3) - 164px - 50px);
    background-color: #E5E4E2;
    padding: 90px;
    border-radius: 25px;
    text-align: center;
    justify-content: center;
}

.col-2 {
    width: calc((100% / 2) - 164px - 50px);
    background-color: #E5E4E2;
    padding: 80px;
    border-radius: 25px;
    text-align: center;
    justify-content: center;
}

.col-1 {
    margin-top: 80px;
    width: calc((100% / 1) - 164px);
    background-color: #E5E4E2;
    padding: 80px;
    border-radius: 25px;
    text-align: center;
    justify-content: center;
}

.col-4 {
    object-fit: contain;
    object-position: center;
    width: calc((100vw /4));
    height: 350px;
    text-align: center;
    justify-content: center;
}

.col-4 img {
    width: calc((100%));
    height: 350px;
    object-fit: cover;
    object-position: center;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    object-position: center;
}

.max {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
    object-position: center;
    border: none;
}

.col-4:hover {
    -webkit-filter: brightness(150%);
    filter: brightness(150%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.overlay {
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    transition: background-color 0.5s ease;
}

.close-button:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.9);
}

.col-1 .col-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.icon {
    color: rgb(135, 157, 232);
}

.active a:link {
    color: rgb(135, 157, 232);
}

.col-3 p {
    text-align: left;
}

.col-2 p {
    text-align: center;
}

.page-header {
    width: 100%;
    padding-left: calc(20vw);
    padding-right: calc(20vw);
    justify-content: center;
    text-align: center;
    font-size: xx-large;
}

.page-description {
    padding-left: calc(20vw);
    padding-right: calc(20vw);
    width: 100%;
    justify-content: center;
    text-align: left;
    margin-bottom: 80px;
}

.buttons {
    display: flex;
    justify-content: left;
    gap: 20px;
}

.hidden {
    display: none;
}

.buttons .col-2 {
    padding: 10px;
    background-color: rgb(135, 157, 232);
    text-decoration: none;
    color: white;
}

.buttons .col-2 a:link {
    text-decoration: none;
    color: white;
    margin-right: 10px;
}

.col-2 iframe {
    width: calc(100%);
    height: calc(50vh);
    border: none;
}

.map {
    padding: 25px;
    padding-left: 80px;
    padding-right: 80px;
}

.buttons .col-2 a:visited {
    text-decoration: none;
    color: white;
    margin-right: 10px;
}

.col-4.max {
    width: 100vw !important;
    height: 100vh !important;
    padding: 0 !important;
    margin: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}

.col-4.max img {
    width: 100vw !important;
    height: 100vh !important;
    object-fit: contain !important;
    object-position: center !important;
}


footer {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}

footer a {
    text-decoration: none;
    color: rgb(135, 157, 232);
}

@media screen and (max-width: 1024px) {

    .col-1 {
        width: 100%;
        padding: 30px;
    }

    .col-2 {
        width: 100%;
        margin-top: 40px;
        padding: 30px;
    }

    .col-3 {
        width: 100%;
        padding: 20px;
        margin-top: 40px;
    }

    .col-4 {
        width: 100%;
        padding: 20px;
        margin-top: 10px;
    }

    .col-container {
        width: 100%;
    }

    .col-container .col-3 {
        padding: 0px;
    }

    .page-header {
        font-size: large;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

    .page-description {
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 20px;
    }

    .main {
        padding: 30px;
        padding-top: 10px;
    }

    .events-main {
        padding-top: 10px;
    }

    .main h1 {
        padding-bottom: 0px;
    }

    .buttons {
        height: auto;
    }

    .logo a {
        font-size: 60px;
        padding-top: 5px;
    }

    .hidden {
        display: unset;
        border: none;
        background-color: white;
    }

    .shown {
        display: none;
    }

    .part {
        display: flex;
        gap: calc(50vw);
    }

    .navigation-stripe {
        justify-content: center;
    }

    .navigation-links {
        justify-content: center;
        padding-left: calc(10vw);
        padding-right: calc(10vw);
        margin-bottom: 30px;
    }

    header {
        display: block;
        justify-content: left;
        gap: calc(10vw);
        justify-content: top;
    }

    .navigation-menu {
        color: rgb(135, 157, 232);
    }

    .navigation-stripe a {
        width: 100%;
        justify-content: center;
        padding-bottom: 10px;
        padding-top: 10px;
        margin: 0;
        display: flex;
        text-align: center;
    }

    .max {
        width: calc(100vw);
        zoom: 2;
        object-fit: contain;
        object-position: center;
        border: none;
    }

    .event img {
        object-fit: contain;
        object-position: center;
        width: calc(100vw);
    }

    .col-4 img {
        object-fit: cover;
        object-position: center;
        width: calc(100vw - 40px)
    }

    .event {
        width: 100%;
        margin-left: 0px;
    }
}

@media print {
    .main {
        padding: 15px;
    }

    .col-4 {
        display: none;
    }

    .logo a {
        color: black;
        font-size: large;
    }

    h1 {
        font-size: large;
    }

    .buttons {
        display: none;
    }

    .col-3 {
        display: block;
        width: 100%;
        padding: 0;
    }

    .page-description {
        padding: 15px 15px;
        margin: 0;
    }

    .page-header {
        font-size: x-large;
        margin-bottom: 15px;
    }

    h2 {
        font-size: large;
    }

    div {
        break-inside: avoid;
    }

    footer p {
        color: black;
    }

    .col-2 {
        padding: none;
    }
}