* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    border: 1px solid #333;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5em;
}

h2 {
    margin-bottom: 10px;
}

#authorize_button,
#signout_button {
    margin-top: 10px;
    font-size: 1em;
    cursor: pointer;
}

.main-content-wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    flex-grow: 1;
}

.left-panel {
    border: 1px solid #333;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.record-panel {
    border: 1px solid #333;
    padding: 20px;
    margin-bottom: 20px;
}

.quote-container {
    border: 1px solid #333;
    padding: 20px;
    text-align: center;
    margin-top: auto;
    width: 100%;
}

.right-panel {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.calendar-container,
.todo-list-container {
    border: 1px solid #333;
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#current-date {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
    text-transform: capitalize;
}

#todo-list {
    list-style: none;
    text-align: left;
    width: 100%;
}

#todo-list li {
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}